<div class="send-weibo S-bg2 clearfix">
	<div class="title-area clearfix">
		<div class="kind">
			<a class="S-txt1" title="表情" >表情</a>
			<a class="S-txt1" title="图片" >图片</a>
			<a class="S-txt1" title="视频" >视频</a>
			<a class="S-txt1" title="话题" >话题</a>
			<a class="ficon-more S-ficon" title="查看更多">…</a>
		</div>
		<div class="title">
			<p class="W-swficon">有什么新鲜事想告诉大家</p>
		</div>
	</div>
	<div class="input" >
		<textarea class="W-input" title="微博输入框" id="content" range="0&amp;0" ></textarea>
		给你的新鲜事添加标签：<input class="tag-input" type="text" id="tag" placeholder="如：电影、体育...">
	</div>

	<div id="success" class="send-succpic" style="display:none">
			<span  class="W-icon icon-succB"></span><span class="txt">发布成功</span>
	</div>
	<div class="func-area clearfix" node-type="widget">
		<div class="func">
			<div class="limits">
				<a class="S-txt1" onclick="return false" title="公开-你发表的微博可以被大家公开查看哦">
				<span class="W-autocut">公开</span><i class="icon-angle-down"></i></a>
			</div>
			<a class="btn W-btn-a W-btn-a-disable" id="send-btn" title="发布">发布</a>
		</div>
	</div>
</div>