
<nav class="main-menu">
<ul>
    <li><a href="/"><i class="fa icon-home icon-2x"></i><span class="nav-text">Home</span></a></li>
    <li><a href="/my_t"><i class="fa icon-suitcase icon-2x"></i><span class="nav-text">我关注的</span></a></li>
    <li><a href="/t"><i class="fa icon-plane icon-2x"></i><span class="nav-text">新鲜事广场</span></a></li>
    <li><a href="/tags"><i class="fa icon-microphone icon-2x"></i><span class="nav-text">新鲜事标签</span></a></li>
    <li><a href="/group"><i class="fa icon-glass icon-2x"></i><span class="nav-text">群组</span></a></li>
    <li><a href="#"><i class="fa icon-github-alt icon-2x"></i><span class="nav-text">艺术</span></a></li>
    <li><a href="#"><i class="fa icon-align-left icon-2x"></i><span class="nav-text">文学</span></a></li>
    <li><a href="#"><i class="fa icon-gamepad icon-2x"></i><span class="nav-text">游戏</span></a></li>
    <li><a href="#"><i class="fa icon-glass icon-2x"></i><span class="nav-text">生活</span></a></li>
    <li><a href="#"><i class="fa icon-rocket icon-2x"></i><span class="nav-text">搞笑</span></a></li>
</ul>
</nav>