</div>
<% if (success) { %>
  <div class="alert alert-success"><div class="alert-content" ><%= success %></div></div>
<% } %>
<% if (error) { %>
  <div class="alert alert-error"><div class="alert-content"><%= error %> </div> </div>
<% } %>
</section>
</main>
  <nav class="cd-nav-container" id="cd-nav">
    <header>
      <h3>Navigation</h3>
      <a href="#0" class="cd-close-nav">Close</a>
    </header>

    <ul class="cd-nav">
      <li class="cd-selected" data-menu="index">
        <a href="/home">
          <span>
            <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <polyline data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="10,24.9 10,60 26,60 26,44 38,44 38,60 54,60 54,24.9 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 4,30 32,6 60,30 " stroke-linejoin="square"></polyline> <rect data-color="color-2" x="26" y="24" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="12" height="10" stroke-linejoin="square"></rect> </g></svg>
          </span>

          <em>首页</em>
        </a>
      </li>

      <li data-menu="message">
        <a href="/message">
          <span><em class="message-count"></em>
            <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="10,18 32,36 54,18 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <rect x="2" y="10" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="60" height="44" stroke-linejoin="square"></rect> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="10" y1="44" x2="18" y2="34" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="54" y1="44" x2="46" y2="34" stroke-linejoin="square" stroke-linecap="butt"></line> </g></svg>
          </span>
          <em>消息</em>
        </a>
      </li>
      <li data-menu="group">
        <a href="/group">
          <span>
            <svg version="1.1" width="48px" height="64px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511 511" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill:rgb(158, 133, 208);" enable-background="new 0 0 511 511">
              <g>
                <path d="m401.38,349.894c-0.299-0.084-0.604-0.149-0.911-0.195l-62.406-9.363c-10.092-6.529-11.044-22.723-11.063-40.259 19.708-20.313 32-48.909 32-80.542v-2.562c15.296-13.583 24-32.855 24-53.438v-48c0-39.425-32.075-71.5-71.5-71.5h-104c-14.929,0-27.465,10.44-30.693,24.401-27.458,3.317-48.807,26.762-48.807,55.099v40c0,20.586 8.703,39.856 24,53.439v2.561c0,31.633 12.292,60.229 31.999,80.542-0.018,17.536-0.971,33.729-11.063,40.259l-62.406,9.363c-0.307,0.046-0.611,0.111-0.911,0.195-13.725,3.845-25.403,12.356-33.772,24.615-7.639,11.19-11.847,24.698-11.847,38.036v30.99c0,12.92 11.526,23.431 25.693,23.431h331.613c14.167,0 25.693-10.511 25.693-23.431v-30.99c0-13.337-4.208-26.845-11.847-38.035-8.368-12.259-20.047-20.771-33.772-24.616zm-145.88-18.859c20.94,0 40.443-6.74 56.75-18.303 0.721,13.688 3.556,28.875 14.688,38.028-6.02,30.648-35.931,53.275-71.438,53.275s-65.418-22.627-71.438-53.275c11.133-9.153 13.967-24.34 14.688-38.028 16.307,11.563 35.81,18.303 56.75,18.303zm-88.5-116.808c0.042-0.457 0.041-0.914 0-1.369v-41.324c0-13.509 10.991-24.5 24.5-24.5h136c4.142,0 7.5-3.357 7.5-7.5 0-4.142-3.358-7.5-7.5-7.5h-136c-21.78,0-39.5,17.72-39.5,39.5v22.605c-5.817-9.005-9-19.562-9-30.605v-40c0-22.332 18.168-40.5 40.5-40.5 4.142,0 7.5-3.357 7.5-7.5 0-9.098 7.402-16.5 16.5-16.5h104c31.154,0 56.5,25.346 56.5,56.5v48c0,11.041-3.183,21.598-9,30.604v-30.604c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v56c0,53.21-39.701,96.5-88.5,96.5s-88.5-43.29-88.5-96.5v-5.307zm265,229.308c0,4.57-4.897,8.431-10.693,8.431h-331.614c-5.796,0-10.693-3.861-10.693-8.431v-30.99c0-19.008 11.758-41.543 34.235-48.084l56.587-8.49c8.389,36.441 43.851,63.064 85.678,63.064s77.289-26.623 85.678-63.064l56.587,8.49c22.477,6.541 34.235,29.076 34.235,48.084v30.99z"/>
                <path d="m47.5,380.035h-28.229c-2.444,0-4.271-1.481-4.271-2.807v-20.051c0-11.261 6.893-24.589 20.075-28.519l40.826-6.125c0.177-0.026 0.348-0.066 0.521-0.105 0.075-0.017 0.151-0.026 0.226-0.045 0.28-0.071 0.551-0.161 0.816-0.262 0.064-0.024 0.127-0.054 0.19-0.081 0.218-0.09 0.43-0.189 0.637-0.298 0.034-0.018 0.071-0.03 0.105-0.049 0.066-0.036 0.126-0.076 0.192-0.113 0.056-0.033 0.112-0.064 0.167-0.098 9.087-5.184 12.232-14.571 13.315-23.744 9.956,5.908 21.388,9.281 33.544,9.281 10.203,0 20.037-2.318 29.229-6.891 3.708-1.845 5.22-6.346 3.375-10.055-1.845-3.709-6.347-5.22-10.056-3.375-7.098,3.53-14.685,5.321-22.548,5.321-30.115,5.68434e-14-54.614-26.821-54.614-59.788v-31.992c0-7.281 5.923-13.204 13.204-13.204h19.296c4.142,0 7.5-3.357 7.5-7.5 0-4.142-3.358-7.5-7.5-7.5h-19.296c-15.552,0-28.204,12.652-28.204,28.204v3.931c-0.652-2.642-1-5.379-1-8.171v-25.88c0-12.989 10.567-23.556 23.556-23.556 4.142,0 7.5-3.358 7.5-7.5 0-4.427 3.601-8.028 8.028-8.028h9.416c4.142,0 7.5-3.357 7.5-7.5 0-4.142-3.358-7.5-7.5-7.5h-9.416c-10.271,0-18.993,6.759-21.952,16.063-18.213,3.067-32.132,18.949-32.132,38.021v25.88c0,13.893 5.798,26.904 16,36.173v0.06c0,21.268 8.32,40.475 21.63,54.105-0.081,9.538-0.811,18.088-5.526,21.599l-39.744,5.963c-0.307,0.046-0.611,0.111-0.911,0.195-20.647,5.784-31.449,26.051-31.449,43.083v20.051c0,9.818 8.645,17.807 19.271,17.807h28.229c4.142,0 7.5-3.357 7.5-7.5 0-4.142-3.358-7.5-7.5-7.5z"/>
                <path d="m479.551,314.093c-0.299-0.083-0.604-0.149-0.911-0.195l-39.744-5.963c-4.715-3.511-5.446-12.061-5.527-21.598 13.31-13.631 21.63-32.838 21.63-54.106v-0.06c10.202-9.269 16-22.281 16-36.181v-40.456c0-21.78-17.72-39.5-39.5-39.5h-24c-4.142,0-7.5,3.358-7.5,7.5 0,4.143 3.358,7.5 7.5,7.5h24c13.509,0 24.5,10.991 24.5,24.5v40.464c0,2.792-0.348,5.529-1,8.171v-3.931c0-15.552-12.652-28.204-28.204-28.204h-19.295c-4.142,0-7.5,3.358-7.5,7.5 0,4.143 3.358,7.5 7.5,7.5h19.296c7.281,0 13.204,5.923 13.204,13.204v31.992c0,32.967-24.499,59.788-54.612,59.788-7.864,0-15.45-1.791-22.548-5.321-3.71-1.845-8.211-0.333-10.056,3.375-1.845,3.709-0.333,8.21 3.375,10.055 9.192,4.572 19.026,6.891 29.229,6.891 12.155,0 23.588-3.373 33.543-9.281 1.083,9.172 4.229,18.56 13.316,23.744 0.054,0.034 0.111,0.065 0.166,0.098 0.065,0.037 0.126,0.077 0.192,0.113 0.034,0.019 0.071,0.031 0.105,0.049 0.206,0.109 0.418,0.208 0.636,0.298 0.064,0.027 0.127,0.057 0.191,0.081 0.265,0.101 0.535,0.191 0.815,0.262 0.076,0.019 0.152,0.029 0.228,0.046 0.171,0.038 0.342,0.078 0.518,0.104l40.825,6.125c13.183,3.93 20.076,17.258 20.076,28.519v20.051c0,1.325-1.827,2.807-4.271,2.807h-28.228c-4.142,0-7.5,3.358-7.5,7.5 0,4.143 3.358,7.5 7.5,7.5h28.229c10.626,0 19.271-7.988 19.271-17.807v-20.051c0-17.031-10.802-37.298-31.449-43.083z"/>
              </g>
            </svg>
          </span>

          <em>群组</em>
        </a>
      </li>

      <li data-menu="services">
        <a href="#">
          <span>
            <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="46" y1="56" x2="58" y2="44" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="24" y1="10" x2="12" y2="22" stroke-linejoin="square" stroke-linecap="butt"></line> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 19,29 6,16 18,4 31,17 " stroke-linejoin="square"></polyline> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 45,31 58,44 60,58 46,56 33,43 " stroke-linejoin="square"></polyline> <rect x="21.1" y="2.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 31 -12.8406)" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="19.8" height="56.6" stroke-linejoin="square"></rect> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="24" y1="24" x2="30" y2="30" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="18" y1="30" x2="22" y2="34" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="36" y1="12" x2="42" y2="18" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="18" x2="34" y2="22" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="36" x2="18" y2="42" stroke-linejoin="square"></line> </g></svg>
          </span>

          <em>热门</em>
        </a>
      </li>
<% if(user){ %>
      <li data-menu="user">
        <a href="/u/<%= user.name%>">
          <span>
            <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"> <g transform="translate(0, 0)"> <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="24,40 28,48 36,48 40,40 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="24" y1="62" x2="28" y2="48" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="36" y1="48" x2="40" y2="62" stroke-linejoin="square" stroke-linecap="butt"></line> <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" d="M39.7,40H40c12.2,0,22,9.8,22,22v0H2 v0c0-12.2,9.8-22,22-22h0.3" stroke-linejoin="square" stroke-linecap="butt"></path> <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" d="M47.9,27.5C47.2,35.7,40.3,42,32,42 h0c-8.3,0-15.2-6.4-15.9-14.5" stroke-linejoin="square" stroke-linecap="butt"></path> <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M16,18c0-8.8,7.2-16,16-16 h0c8.8,0,16,7.2,16,16" stroke-linejoin="square"></path> <path data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12.1,18 c0,0.3-0.1,0.7-0.1,1c0,6.1,4.9,11,11,11c3.7,0,7-1.9,9-4.7c2,2.8,5.3,4.7,9,4.7c6.1,0,11-4.9,11-11c0-0.3,0-0.7-0.1-1H12.1z" stroke-linejoin="square"></path> </g> </svg>
          </span>

          <em>我</em>
        </a>
      </li>
      <li data-menu="logout">
        <a href="/logout">
          <span>
            <svg version="1.1" width="48px" height="64px" style="fill:rgb(158, 133, 208);" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 491.213 491.213" style="enable-background:new 0 0 491.213 491.213;" xml:space="preserve">
            <g>
              <polygon points="146.213,3.107 146.213,175.607 176.213,175.607 176.213,33.107 461.213,33.107 461.213,458.107 176.213,458.107 176.213,315.607 146.213,315.607 146.213,488.107 491.213,488.107 491.213,3.107   "/>
              <polygon points="318.713,260.607 318.713,230.607 57.427,230.607 91.82,196.213 70.607,175 0,245.607 70.607,316.213 91.82,295 57.426,260.607  "/>
            </g>
            </svg>
          </span>
          <em>退出</em>
        </a>
      </li>
<% } else{ %>
      <li data-menu="login">
        <a href="/login">
          <span>
           <svg version="1.1" width="48px" height="64px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 485 485" style="fill:rgb(158, 133, 208);" xml:space="preserve">
            <g>
            <polygon points="234.394,291.894 255.606,313.106 326.213,242.5 255.606,171.894 234.394,193.106 268.787,227.5 7.5,227.5 
            7.5,257.5 268.787,257.5   "/>
            <polygon points="132.5,0 132.5,172.5 162.5,172.5 162.5,30 447.5,30 447.5,455 162.5,455 162.5,312.5 132.5,312.5 132.5,485 
            477.5,485 477.5,0   "/>
            </g></svg>
          </span>

          <em>登录</em>
        </a>
      </li>
      <li data-menu="register">
        <a href="/reg">
          <span>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="48px" height="64px" style="fill:rgb(158, 133, 208);" viewBox="104.5 34.5 50 50" enable-background="new 104.5 34.5 50 50" xml:space="preserve">
            <path d="M144.59,50.855l-24.603,24.604c-0.241,0.241-0.545,0.41-0.878,0.487l-5.033,1.168c-0.613,0.142-1.258-0.042-1.703-0.487
              c-0.446-0.445-0.63-1.09-0.487-1.703l1.166-5.032c0.077-0.333,0.246-0.638,0.487-0.88l24.604-24.603l2.577,2.579L116.549,71.16
              c-0.357,0.356-0.357,0.935,0,1.291c0.355,0.357,0.934,0.355,1.29-0.001l24.174-24.172L144.59,50.855z M146.627,48.819
              c0.713-0.713,0.713-1.869,0-2.582l-3.865-3.865c-0.713-0.712-1.869-0.712-2.582,0l-0.988,0.988l6.448,6.446L146.627,48.819z
               M123,76.516h23.75v-1.781H123V76.516z"/>
            </svg>
          </span>
          <em>注册</em>
        </a>
      </li>
<% } %>
    </ul> <!-- .cd-3d-nav -->
  </nav>
	<div class="cd-overlay"><!-- shadow layer visible when navigation is visible --></div>
</body>
<script src="/javascripts/main.js"></script>
</html>