<%- include header %>
      <div class="container">
            <div class="content-nav">
              <div class="grid">
                  <figure class="effect-ruby">
                    <img src="../images/p1.jpg" alt="img13">
                    <figcaption>
                      <h2>我的<span>新鲜事</span></h2>
                      <p>这里可以记录和分享有趣的新鲜事哦</p>
                      <a href="/my_t">开启新鲜事</a>
                    </figcaption>     
                  </figure>
              </div>
              <div class="grid">
                      <figure class="effect-ruby">
                        <img src="../images/p2.jpg" alt="img13">
                        <figcaption>
                          <h2><span>新鲜事</span>广场</h2>
                          <p>这里可以发现许多有趣的新鲜事哦</p>
                          <a href="/t">开启新鲜事</a>
                        </figcaption>     
                      </figure>
              </div>
              <div class="grid">
                      <figure class="effect-ruby">
                        <img src="../images/p3.jpg" alt="img13">
                        <figcaption>
                          <h2>话题<span>聊天</span></h2>
                          <p>这里可以和有趣的人一起聊天哦</p>
                          <a href="/">开启新鲜事</a>
                        </figcaption>     
                      </figure>
              </div>
              <div class="grid">
                      <figure class="effect-ruby">
                        <img src="../images/p4.jpg" alt="img13">
                        <figcaption>
                          <h2><span>论坛</span>交流区</h2>
                          <p>这里是知识的海洋，快来学习吧</p>
                          <a href="/">开启新鲜事</a>
                        </figcaption>     
                      </figure>
              </div>
            </div>

      </div>
<%- include footer %>