
<div class="page">
  <% if (!isFirstPage) { %>
    <span class="btn prepage"><a title="上一页" href="?p=<%= page-1 %>"><i class="icon-double-angle-left icon-x"></i>上一页</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="btn nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页<i class="icon-double-angle-right icon-x"></i></a></span>
  <% } %>
</div>