
<nav class="main-menu">
<ul>
    <li><a href="/u/<%=talks[0].author %>"><i class="fa icon-home icon-2x"></i><span class="nav-text">TA的首页</span></a></li>
    <li><a href="/u/<%=talks[0].autho %>/talk"><i class="fa icon-suitcase icon-2x"></i><span class="nav-text">TA的新鲜事</span></a></li>
    <li><a href="/t"><i class="fa icon-plane icon-2x"></i><span class="nav-text">TA的话题</span></a></li>
    <li><a href="/tags"><i class="fa icon-microphone icon-2x"></i><span class="nav-text">TA的关注</span></a></li>
    <li><a href="/group"><i class="fa icon-glass icon-2x"></i><span class="nav-text">TA的粉丝</span></a></li>
</ul>
</nav>